/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: hsl(0 0% 100%);
	color: hsl(0 0% 11%);
}

body.dark {
	background: hsl(166 91% 9%);
	color: hsl(0 0% 100%);
}
