---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<section class="mx-auto flex items-center gap-6">
		<img
			src="/lospampa.png"
			alt="lospampa logo"
		/>
		<div>
			<h1 class="text-4xl">Laboratório de Otimização de Sistemas</h1>
			<p class="text-center text-gray-500">Departamento de Ciência da Computação | Universidade Federal do Pampa</p>
		</div>
	</section>
	<section>
		<h2 class="text-2xl">Atualmente, estamos realizando pesquisas nas seguintes áreas:</h2>
		<ul class="mt-4 list-disc">
			<li>Computação Paralela</li>
			<li>Arquiteturas Multicore Heterogêneas</li>
			<li>Rede definida por software</li>
			<li>Computação em Nuvem</li>
		</ul>
	</section>
	<section>
		<p>
			Com o aumento na demanda por serviços disponibilizados através de sistemas embarcados (e.g., tablets e
			smartphones, automóveis, instrumentos biomédicos) e o crescimento eminente de sistemas que propiciam a
			interconexão entre tais dispositivos (e.g., redes wireless, tecnologia 4G, 5G, bluetooth), existe uma necessidade
			de formação de profissionais para atuar no desenvolvimento da área. Neste sentido, o grupo busca modelar e
			desenvolver sistemas computacionais (e.g., métodos e algoritmos) que visam otimizar a solução de problemas
			complexos envolvendo os componentes de hardware e software nas grandes áreas de sistemas embarcados e redes de
			computadores. Em especial, o trabalho do grupo é bastante focado no desenvolvimento de tecnologias e aplicações
			que tenham forte possibilidade de apropriação por empresas nacionais em conjunto com produção de trabalhos
			científicos com impacto nacional e internacional.
		</p>
	</section>
</Layout>
