---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<h1 class="text-4xl">Publicações</h1>

	<section class="grid gap-2">
		<h2 class="text-2xl">Journal</h2>
		<ul class="flex list-disc flex-col gap-4">
			<li>
				BERNED, G. P.; ROSSI, F. D.; LUIZELLI, M. C.; DE SOUZA, S. X.; BECK, A. C. S.; LORENZON, A. F.
				<b class="font-bold">Low learning-cost offline strategies for EDP optimization of parallel applications.</b> Journal
				of Systems Architecture , v. x, p., 2020.
			</li>
			<li>
				MEDEIROS, T. S.; BERNED, G. P.; NAVARRO, A.; ROSSI, F. D.; LUIZELLI, M. C.; BRANDALERO, M.; HUBNER, M.; BECK, A.
				C. S.; LORENZON, A. F. <b class="font-bold">Aging-aware Parallel Execution.</b> IEEE Embedded Systems Letters , v.
				x, p. 1-4, 2020.
			</li>
			<li>
				COUTINHO, D. A. M. ; SENSI, D. ; LORENZON, A. F. ; GEORGIOU, K. ; NUNEZ-YANEZ, J. ; EDER, K. ; XAVIER-DE-SOUZA,
				S. <b class="font-bold"
					>Performance and Energy Trade-Offs for Parallel Applications on Heterogeneous Multi-Processing.</b
				> Energies , v. 13, p. 1, 2020.
			</li>
			<li>
				HOHEMBERGER, R.; ROSA, C. E.; PFEIFER, F. R.; ROSA, R. M.; SOUZA, P. S.; LORENZON, A. F.; LUIZELLI, M. C.;
				ROSSI, F. D. <b class="font-bold"
					>An approach to mitigate challenges to the Electronic Health Records storage.</b
				> Measurement , v. 1, p. 1, 2020.
			</li>
			<li>
				FILHO, R. I. T. C.; LUIZELLI, M. C.; PETRANGELI, S.; VEGA, M. T.; HOOFT, J. V. D.; WAUTERS, T.; TURCK, F.;
				GASPARY, L. P. <b class="font-bold"
					>Dissecting the Performance of VR Video Streaming Through the VR-EXP Experimentation Platform.</b
				> ACM Transactions on Multimedia Computing Communications and Applications , v. 1, p. 1, 2019.
			</li>
			<li>
				JORDAN, M. G. ; BRANDALERO, M. ; MALFATTI, G. M. ; LORENZON, A. F. ; SILVA, B. C. ; CARRO, L. ; BECK, M. R. ;
				BECK, A. C. S. . <b class="font-bold">Data clustering for efficient approximate computing.</b> Design Automation
				for Embedded Systems, v. 1, p. 1, 2019.
			</li>
			<li>
				VOGT, F. G.; HOHEMBERGER, R.; MANSILHA, R. LORENZON, A. F.; ROSSI, F. D.; LUIZELLI, M. C.
				<b class="font-bold">Orchestrating In-Band Data Plane Telemetry with Machine Learning.</b> IEEE Communications Letters,
				v. 23, p. 20-25, 2019.
			</li>
			<li>
				HOHEMBERGER, R.; LORENZON, A. F.; ROSSI, F. D.; LUIZELLI, M. C. <b class="font-bold"
					>Optimizing Distributed Network Monitoring for NFV Service Chains.</b
				> IEEE Communications letters , v. x, p. 1-5, 2019.
			</li>
			<li>
				MIOTTO, G.; LUIZELLI, M. C.; CORDEIRO, W. L. C.; GASPARY, L. P. <b class="font-bold"
					>Adaptive placement and chaining of virtual network functions with NFV-PEAR.</b
				> Journal of Internet Services and Applications, v. 10, p. 3, 2019.
			</li>
			<li>
				LORENZON, A. F.; SOUZA, J. D. ; OLIVEIRA, C. C. ; BECK, A. C. S. <b class="font-bold"
					>Aurora: Seamless Optimization of OpenMP Applications.</b
				> IEEE Transactions on Parallel and Distributed Systems, p. 1-16, 2019.
			</li>
		</ul>
	</section>

	<section class="grid gap-2">
		<h2 class="text-2xl">Conference</h2>
		<ul class="flex list-disc flex-col gap-4">
			<li>
				NAVARRO, A. M. ; LORENZON, A. F. ; PARRA, E. A. ; QUEROL, V. B. <b class="font-bold"
					>Optimizing Resource Management through Prediction-based Policies.</b
				> In: Euro-Par: 26th International European Conference on Parallel and Distributed Computing, Warsaw, Poland. 2020.
				p. 1-14.
			</li>
			<li>
				HOHEMBERGER, R.; LORENZON, A. F.; ROSSI, F. D.; LUIZELLI, M. C. <b class="font-bold"
					>A Heuristic Approach for Large-Scale Orchestration of the In-Band Data Plane Telemetry Problem.</b
				> In: The 34-th International Conference on Advanced Information Networking and Applications (AINA-2020) Caserta,
				Italy, 2020. p. 1-8.
			</li>
			<li>
				BERNED, G.; LUIZELLI, M. C.; ROSSI, F. D.; BECK, A. C. S.; LORENZON, A. F. <b class="font-bold"
					>Decreasing the Learning Cost of Offline Parallel Application Optimization Strategies.</b
				> In: 28th Euromicro International Conference on Parallel, Distributed, and Network-Based Processing (PDP) Sweden,
				2020. p. 1-8.
			</li>
			<li>
				HOHEMBERGER, R.; LORENZON, A. F.; LUIZELLI, M. C.; ROSSI, F. D. <b class="font-bold"
					>Modeling and Simulating Daily Power Budgets for Sustainable Data Centers.</b
				> In: 28th Euromicro International Conference on Parallel, Distributed, and Network-Based Processing (PDP) Sweden,
				2020. p. 1-8.
			</li>
			<li>
				IZOLAN, P.; HOHEMBERGER, R.; KONZEN, M. P.; SAQUETTE, L.; TEMP, D.; LORENZON, A. F; LUIZELLI, M. C.; ROSSI, F.
				D.
				<b class="font-bold">Low-Cost Fog Computing Platform for Soil Moisture Management.</b> In: International Conference
				on Information Networking (ICOIN), Barcelona - Spain, 2020. p. 1-6.
			</li>
			<li>
				IZOLAN, P.; HOHEMBERGER, R.; KONZEN, M. P.; SAQUETTE, L.; TEMP, D.; LORENZON, A. F; LUIZELLI, M. C.; ROSSI, F.
				D.
				<b class="font-bold">Towards Elasticity for SME Cloud Services.</b> In: International Conference on Information Networking
				(ICOIN), Barcelona - Spain, 2020. p. 1-6.
			</li>
			<li>
				MEDEIROS, T. S.; ROSSI, F. D.; LUIZELLI, M. C.; BECK, A. C. S.; LORENZON, A. F.
				<b class="font-bold">Transparent Aging-Aware Thread Throttling.</b> In: International Symposium on Computer Architecture
				and High Performance Computing (SBAC-PAD), Campo Grande - Brazil, 2019. p. 1-6.
			</li>
			<li>
				MARQUES, S. M.; MEDEIROS, T. S.; ROSSI, F. D.; LUIZELLI, M. C.; GIRARDI, A.; BECK, A. C. S.; LORENZON, A. F.
				<b class="font-bold"
					>The Impact of Turbo Frequency on the Energy, Performance, and Aging of Parallel Applications.</b
				> In: IFIP/IEEE International Conference on Very Large Scale Integration , Cusco-Peru. NY, USA: IEEE, 2019. p. 1-6.
			</li>
			<li>
				SOUZA, P.; MARQUES, W.; CONTERATO, M. S.; LUIZELLI, M. C.; LORENZON, A. F.; FERRETO, T. C.; ROSSI, F. D.
				<b class="font-bold"
					>Multilevel Resource Allocation for Performance-Aware Energy-Efficient Cloud Data Centers.</b
				> In: International Symposium on Computers and Communications (ISCC) . NY, USA: IEEE, 2019. p. 1-6.
			</li>
			<li>
				CONTERATO, M.; FERRETO, T. C.; ROSSI, F. D.; MARQUES, W. S.; SEVERO, P. S.
				<b class="font-bold"
					>Reducing energy consumption in SDN-based data center networks through flow consolidation strategies.</b
				> In: Proceedings of the 34th ACM/SIGAPP Symposium on Applied Computing - SAC '19. New York: ACM Press, 2019. p.
				1384.
			</li>
			<li>
				SCHWARZROCK, J.; JORDAN, M. G.; KOROL, G.; OLIVEIRA, C. C.; LORENZON, A. F.; BECK, A. C. S.
				<b class="font-bold"
					>On the influence of Data Migration in Dynamic Thread Management of Parallel Applications.</b
				> In: Brazilian Symposium on Computing Systems Engineering (SBESC), Natal-RN. Brazil. NY: IEEE, 2019. p. 1-8.
			</li>
			<li>
				VIEIRA, A. N. C.; DE SOUZA, P. S. S.; MARQUES, W.; CONTERATO, M.; FERRETO, T. C.; LUIZELLI, M. C.; LORENZON, A.
				F.; BECK, A. C. S.; ROSSI, F. D.; NONAKA, J.
				<b class="font-bold"
					>The Impact of Parallel Programming Interfaces on the Aging of a Multicore Embedded Processor.</b
				> In: IEEE International Symposium on Circuits and Systems (ISCAS). 2019. p. 1-5
			</li>
			<li>
				BASAT, R. B. ; EINZIGER, GIL ; LUIZELLI, M. C. ; WAISBARD, E.
				<b class="font-bold">A Black-box Method for Accelerating Measurement Algorithms with Accuracy Guarantees.</b> In:
				IFIP Networking, 2019 .
			</li>
		</ul>
	</section>
</Layout>
