---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="mx-auto flex items-center gap-6">
		<img
			src="/lospampa.png"
			alt="lospampa logo"
		/>
		<div>
			<h1 class="text-4xl">Laboratório de Otimização de Sistemas</h1>
			<p class="text-center text-gray-500">Departamento de Ciência da Computação | Universidade Federal do Pampa</p>
		</div>
	</section>
	<section>
		<h2 class="text-2xl">Atualmente, estamos realizando pesquisas nas seguintes áreas:</h2>
		<ul class="mt-4 list-disc">
			<li>Computação Paralela</li>
			<li>Arquiteturas Multicore Heterogêneas</li>
			<li>Rede definida por software</li>
			<li>Computação em Nuvem</li>
		</ul>
	</section>
	<section>
		<p>
			Consequat magna officia ex Lorem ipsum irure ullamco. Anim dolor sint laborum et enim voluptate incididunt tempor.
			Consequat culpa ut incididunt Lorem qui voluptate sint cupidatat nostrud tempor. Aliquip aliqua culpa anim cillum
			esse. Qui cupidatat enim do aliqua veniam cillum sit reprehenderit sint eiusmod sit fugiat. Laborum non
			adipisicing id eu id. Qui minim anim officia exercitation occaecat esse culpa.
		</p>
		<p>
			Nisi amet exercitation do reprehenderit quis ea commodo proident duis do. Sit aliquip irure ex veniam proident
			consequat magna ullamco cillum elit. Officia velit aute qui cupidatat qui consequat esse. Deserunt sit culpa in
			fugiat deserunt aliquip qui reprehenderit laboris officia aliqua do amet Lorem. Eiusmod ex elit sunt consectetur
			ea enim ex anim elit proident ex Lorem dolor.
		</p>
	</section>
</Layout>
