---
import Default from '$lib/layouts/Default.astro';

import LinkCard from '$lib/components/link-card.astro';

const links = [
	{
		title: 'projects',
		href: '/projects',
		description: 'Check out our projects!'
	},
	{
		title: 'publications',
		href: '/publications',
		description: 'Where our members publish their work'
	}
];

const areas = [
	'Parallel Computing',
	'Heterogeneous Multicore Architectures',
	'Software-defined networking',
	'Cloud computing'
];
---

<Default>
	<div class="grid place-items-center gap-6">
		<div class="flex flex-col items-center justify-center gap-4 lg:flex-row">
			<img
				src="/los.svg"
				alt="LosPampa logo"
				width="256"
			/>
			<hgroup class="text-center">
				<h1 class="text-4xl">Systems Optimization Laboratory</h1>
				<p class="hidden text-center lg:block">Department of Computer Science | Federal University of Pampa</p>
				<p class="text-center lg:hidden">
					Department of Computer Science
					<br />
					Federal University of Pampa
				</p>
			</hgroup>
		</div>
		<section
			class="prose mx-auto dark:prose-invert md:prose-lg prose-headings:text-foreground prose-p:text-foreground prose-a:text-primary prose-strong:text-primary prose-li:text-foreground"
		>
			<p>
				With the increase in demand for services made available through embedded systems (e.g., tablets and smartphones,
				automobiles, biomedical instruments) and the imminent growth of systems that provide interconnection between
				such devices (e.g., wireless networks, 4G, 5G, bluetooth technology) , there is a need for training
				professionals to work in the development of the area. In this sense, the group seeks to model and develop
				computational systems (e.g., methods and algorithms) that aim to optimize the solution of complex problems
				involving hardware and software components in the broad areas of embedded systems and computer networks. In
				particular, the group's work is very focused on the development of technologies and applications that have a
				strong possibility of appropriation by national companies in conjunction with the production of scientific work
				with national and international impact.
			</p>
		</section>
		<div class="grid items-center gap-1 lg:grid-cols-2 lg:gap-8">
			{links.map((linkInfo) => <LinkCard {linkInfo} />)}
		</div>
		<section
			class="prose mx-auto dark:prose-invert md:prose-lg prose-headings:text-foreground prose-p:text-foreground prose-a:text-primary prose-strong:text-primary prose-li:text-foreground"
		>
			<h2>We are currently carrying out research in the following areas:</h2>
			<ul>
				{areas.map((area) => <li>{area}</li>)}
			</ul>
		</section>
	</div>
</Default>
