---
interface Props {
	title: string;
	description: string;
	slug: string;
}
const { title, description, slug } = Astro.props;
---

<div class="border-b-2 border-gray-600 p-8 transition duration-100 hover:border-green-700">
	<h1 class="break-all text-2xl font-bold">{title}</h1>
	<p class="mb-2">{description}</p>
	<div class="text-right">
		<a
			class="rounded border px-2 py-1 text-lg hover:border-green-700"
			href={`/projetos/${slug}`}
			>Saiba mais</a
		>
	</div>
</div>
