---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, langLinks } from '@src/consts';

import { getRelativeLocaleUrl } from 'astro:i18n';
import LangSelect from './LangSelect.astro';

const lang = Astro.currentLocale || 'en';
---

<header class="relative mb-6 px-12 py-4">
	<nav class="relative flex items-center justify-center">
		<a
			href={getRelativeLocaleUrl(lang)}
			class="absolute left-0 flex items-center gap-1 px-4 py-2"
		>
			<img
				src="/lospampa.png"
				alt=""
				class="h-8 w-8"
			/>
			<h1 class="font-bold">{SITE_TITLE}</h1>
		</a>
		<div class="space-x-2">
			{
				langLinks[lang as keyof typeof langLinks].map(({ label, href }) => (
					<HeaderLink href={getRelativeLocaleUrl(lang, href)}>{label}</HeaderLink>
				))
			}
		</div>
		<div class="absolute right-4">
			<LangSelect currentLang={lang} />
		</div>
	</nav>
</header>
