---
import { SITE_TITLE } from '@src/consts';
import { getRelativeLocaleUrl } from 'astro:i18n';

import HeaderLink from './HeaderLink.astro';
import LangSelect from './LangSelect.astro';
import ThemeToggle from './ThemeToggle.astro';

let { currentLocale } = Astro;
currentLocale = currentLocale as 'pt-BR' | 'en-US';

const { t } = Astro.locals;
---

<div class="border-b border-black py-3 dark:border-white">
	<header class="grid grid-cols-3 items-center px-12">
		<a
			href={getRelativeLocaleUrl(currentLocale, '/', { normalizeLocale: false })}
			class="flex items-center gap-1 justify-self-start px-4 py-2"
		>
			<img
				src="/lospampa.png"
				alt=""
				width={32}
				height={32}
			/>
			<h1 class="font-bold">{SITE_TITLE}</h1>
		</a>
		<div class="space-x-2 justify-self-center">
			{
				Object.entries(t.headerLinks).map(([key, value]) => (
					<HeaderLink href={getRelativeLocaleUrl(currentLocale, key, { normalizeLocale: false })}>{value}</HeaderLink>
				))
			}
		</div>

		<div class="flex gap-3 justify-self-end">
			<ThemeToggle />
			<LangSelect currentLang={currentLocale} />
		</div>
	</header>
</div>
