---
const { currentLocale } = Astro;

const langs = {
	'en-US': {
		text: 'English (US)'
	},
	'pt-BR': {
		text: 'Português (BR)'
	}
};
---

<script is:inline>
	document.addEventListener('DOMContentLoaded', function () {
		const langButtons = document.querySelectorAll('#lang');
		const langButton = document.getElementById('lang-button');

		langButtons.forEach((button) => {
			button.addEventListener('click', () => {
				const lang = button.value;
				const path = window.location.pathname;

				const newPath = lang === 'en-US' ? path.replace('pt-BR', 'en-US') : path.replace('en-US', 'pt-BR');

				window.location.assign(newPath);
			});
		});

		langButton.addEventListener('click', () => {
			const langList = document.getElementById('lang-list');
			langList.classList.toggle('hidden');
			langList.classList.toggle('flex');
		});

		// Close the dropdown when the user clicks outside of it
		window.addEventListener('click', function (event) {
			const langList = document.getElementById('lang-list');
			if (!langList.contains(event.target) && event.target !== langButton) {
				langList.classList.add('hidden');
				langList.classList.remove('flex');
			}
		});
	});
</script>

<div>
	<button
		class="flex h-11 items-center justify-center gap-2 rounded-md border border-black px-1 py-2 hover:bg-black hover:text-white dark:border-white dark:hover:bg-white dark:hover:text-black lg:w-40 lg:px-3"
		id="lang-button"
		aria-label="Change language"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="20"
			height="20"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			><circle
				cx="12"
				cy="12"
				r="10"
			></circle><path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path d="M2 12h20"></path>
		</svg>
		{langs[currentLocale as keyof typeof langs].text}
	</button>

	<ul
		id="lang-list"
		class="absolute mt-1 hidden flex-col bg-white p-1 text-sm text-black shadow-lg dark:bg-emerald-950 dark:text-white"
	>
		{
			Object.entries(langs).map(([lang, { text }]) => {
				if (lang !== currentLocale) {
					return (
						<li>
							<button
								id="lang"
								aria-label={`Change language to ${text}`}
								value={lang}
								class="rounded-md px-3 py-2 text-start hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black lg:w-40"
							>
								{text}
							</button>
						</li>
					);
				}
			})
		}
	</ul>
</div>
