<script is:inline>
	// if no theme cookie is set, set it to the default theme
	if (!document.cookie.includes('theme=')) {
		// the matchMedia thingy
		const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
		document.cookie = `theme=${prefersDark ? 'dark' : 'light'}; path=/; max-age=31536000`;
	}

	const theme = document.cookie.match(/theme=(light|dark)/)[1];
	if (theme === 'dark') {
		document.body.classList.add('dark');
	}

	document.addEventListener('DOMContentLoaded', () => {
		const theme = document.body.classList.contains('dark') ? 'dark' : 'light';
		document.cookie = `theme=${theme}; path=/; max-age=31536000`;

		const themeToggle = document.getElementById('themeToggle');
		themeToggle.addEventListener('click', () => {
			document.body.classList.toggle('dark');

			const theme = document.body.classList.contains('dark') ? 'dark' : 'light';
			document.cookie = `theme=${theme}; path=/; max-age=31536000`;
		});
	});
</script>

<button
	aria-label="Toggle theme"
	id="themeToggle"
	class="rounded-lg px-2 ring-1 ring-black dark:text-white dark:ring-white"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="dark:hidden"
	>
		<path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
	</svg>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="hidden dark:block"
	>
		<>
			<circle
				cx="12"
				cy="12"
				r="4"
			></circle>
			<path d="M12 2v2"></path>
			<path d="M12 20v2"></path>
			<path d="m4.93 4.93 1.41 1.41"></path>
			<path d="m17.66 17.66 1.41 1.41"></path>
			<path d="M2 12h2"></path>
			<path d="M20 12h2"></path>
			<path d="m6.34 17.66-1.41 1.41"></path>
			<path d="m19.07 4.93-1.41 1.41"></path>
		</>
	</svg>
</button>
