---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@src/consts';

const { pathname } = Astro.url;

const lang = pathname.split('/')[1];
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body>
		<Header lang={lang} />
		<main class="grid gap-12 px-8 py-8 md:px-48">
			<slot />
		</main>
	</body>
</html>
