---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@src/consts';

const { pathname } = Astro.url;

const lang = pathname.split('/')[1];
const seila = lang === 'en' ? 'en-US' : 'pt-BR';
---

<!doctype html>
<html lang={seila}>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body class="bg-white text-black dark:bg-emerald-950 dark:text-white">
		<Header lang={lang} />
		<main class="grid gap-12 px-4 py-8 md:px-48">
			<slot />
		</main>
	</body>
</html>
