---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './theme-toggle.astro';

const links = [
	{
		title: 'projects',
		href: '/projects'
	},
	{
		title: 'publications',
		href: '/publications'
	}
];
---

<header class="py-4">
	<nav class="flex items-center justify-around">
		<a
			href="/"
			class="p-2"
			aria-label="Home"
		>
			<img
				src="/los.svg"
				alt=""
				width={32}
				class="w-8"
			/>
		</a>
		<div class="flex gap-4">
			{links.map(({ title, href }) => <HeaderLink {href}>{title}</HeaderLink>)}
		</div>
		<div class="flex size-12 items-center justify-end">
			<ThemeToggle />
		</div>
	</nav>
</header>
